* { box-sizing: border-box; }

body {
background-image: url("images/bliss-portada.jpg");
background-size: cover;
}

.background {
  position: relative;
}

.zombie {
  position: absolute;
  width: 300px;
  height: 332px;
  background-image: url("images/zombie-2.png");
   animation: camina-zombie 1s steps(19) infinite, desplazarse 10s steps(1000) infinite forwards;

   margin-top: 500px;

  right: 0;
  top: 0;
}

.humano {
  position: absolute;
  width: 500px;
  height: 617px;
  background-image: url("images/humano.png");

  transform: scale(0.5, 0.5);

   animation: camina 1s steps(6) infinite, desplazarse 10s steps(1000) infinite forwards, disappear 10s steps(1000) infinite;
   margin-top: 500px;
  right: 105px;
  top: -115px;
}

.pajaro {
  background-image: url("images/pajaraco.png");
  width: 400px;
  height: 432px;
  animation: vuela 1s steps(9) infinite, desplazarse 9s steps(1000) infinite forwards;
  float: right;
  transform: scale(0.5, 0.5);
  top: 300px;
  right: 100px;
}

.caca {
  background-image: url("images/caca.png");
  width: 220px;
  height: 165px;
  animation: caca 2s steps(21) infinite, desplazarse 10s steps(1000) infinite forwards, caca-cae 10s steps(1000) infinite, disappear 15s steps(1000) infinite;
  float: right;
  transform: scale(0.5, 0.5);
  top: 100px;
  right:  0;
  position: absolute;
}

@keyframes camina-zombie {
  100% { background-position: -5700px; } infinite forwards;
}

@keyframes desplazarse {
  100% { margin-right: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }
}

@keyframes camina {
  100% { background-position: -3000px; }
}

@keyframes vuela {
  100% { background-position: -3600px; }
}

@keyframes caca {
  100% { background-position: -4620px; }
}

@keyframes caca-cae {
  100% { top: 500px; }
}
